*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#fce9ef;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    z-index:1000;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#333;
    text-decoration:none;
}

.logo span{
    color:#e84393;
}

nav a{
    text-decoration:none;
    margin:0 15px;
    color:#555;
    font-size:18px;
}

nav a:hover{
    color:#e84393;
}

.home{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:100px 8%;
}

.content{
    width:50%;
}

.content h1{
    font-size:70px;
    color:#222;
}

.content h3{
    color:#e84393;
    font-size:35px;
    margin-top:10px;
}

.content p{
    color:#666;
    line-height:1.8;
    margin:20px 0;
    font-size:18px;
}

.btn{
    display:inline-block;
    padding:12px 35px;
    background:#333;
    color:white;
    text-decoration:none;
    border-radius:30px;
    transition:0.3s;
}

.btn:hover{
    background:#e84393;
}

.image{
    width:35%;
}

.image img{
    width:100%;
}
/* Heading */
.heading{
    text-align:center;
    font-size:45px;
    background:#fdeef4;
    padding:15px;
    margin:40px 8%;
}

.heading span{
    color:#e84393;
}

/* ABOUT */
.about{
    padding:80px 8%;
}

.about .row{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:60px;
}
.about .image-box{
    width:35%;
}

.about .image-box img{
    width:100%;
    height:450px;
    object-fit:cover;

    border-radius:20px;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.about .content{
    width:50%;
}

.about .content h3{
    font-size:40px;
    color:#222;
    margin-bottom:20px;
}

.about .content p{
    font-size:18px;
    line-height:1.8;
    color:#666;
}

@media(max-width:768px){

.about .row{
    flex-direction:column;
}

.about .image-box,
.about .content{
    width:100%;
}

}

/* Dress type section*/
.products{
    padding:80px 8%;
}

.products .box-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.products .box{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    text-align:center;

    box-shadow:0 10px 20px rgba(0,0,0,0.08);

    transition:0.3s;
}

.products .box:hover{
    transform:translateY(-10px);
}

.products .box .image{
    width:100%;
    height:350px;
}

.products .box .image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.products .box .content{
    padding:20px;
}

.products .box .content h3{
    font-size:24px;
    color:#222;
    margin-bottom:10px;
}

.products .box .content p{
    color:#777;
    font-size:16px;
}


/* Reviwew section */

.review{
    padding: 50px;
    text-align: center;
}

.review .heading{
    font-size: 40px;
}

.review .heading span{
    color: hotpink;
}

.box-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.box{
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.stars{
    color: gold;
    font-size: 22px;
}

.box p{
    font-size: 16px;
    margin: 10px 0;
}

.box h3{
    color: hotpink;
}

/* Contact section */
.contact{
    padding:80px 8%;
}

.contact .row{
    display:flex;
    gap:50px;
    align-items:center;
    flex-wrap:wrap;
}

.contact .row img{
    width:250px;
    height:auto;
    border-radius:15px;
}
.contact form{
    flex:1 1 40rem;
}

.contact form .box{
    width:100%;

    padding:15px;

    margin:10px 0;

    font-size:17px;

    border:none;

    border-radius:12px;

    background:#fff;

    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.contact textarea{
    resize:none;
}

.contact-info{
    flex:1 1 30rem;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.contact-info h3{
    color:#e84393;

    font-size:35px;

    margin-bottom:20px;
}

.contact-info p{
    margin:18px 0;

    color:#555;

    font-size:18px;
}

.social i{
    font-size:28px;

    margin-right:15px;

    color:#e84393;

    cursor:pointer;
}

.social i:hover{
    transform:scale(1.2);
}

@media(max-width:300px){
    .contact .row{
    flex-direction:column;
}
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#fdeff4;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:white;
    box-shadow:0 2px 10px #ddd;

}

.logo{
    font-size:35px;
    font-weight:bold;

}

.logo span{
    color:#ff4d88;

}

nav a{
    text-decoration:none;
    margin-left:30px;
    color:black;
    font-size:20px;

}

nav a:hover{
    color:#ff4d88;

}



/* Products section */

.products{
    padding:80px 8%;
}

.products .box-container{
    display:grid;
    grid-template-columns:
    repeat(4,1fr);
    gap:30px;

}

.products .box{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    text-align:center;
    box-shadow: 0 10px 20px rgba(0,0,0,.08);
    transition:.3s;

}

.products .box:hover {
  transform: translateY(-10px);
}

.products .box .image {
  width: 100%;
  height: 350px;
}

.products .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products .box .content {
  padding: 20px;
  width: 100%;
}

.products .box .content h3 {
  font-size: 24px;
  color: #222;
  margin-bottom: 10px;
}

.products .box .content p {
  font-size: 16px;
  color: #777;
  line-height: 1.7;
}

.see-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 25px;
  background: #e84393;
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

.see-btn:hover {
  background: #ff2f80;
}

/* REVIEW */
.review .box-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* RESPONSIVE */
@media(max-width:900px) {
  .products .box-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:600px) {
  .products .box-container {
    grid-template-columns: 1fr;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #fdeff4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: white;
  box-shadow: 0 2px 10px #ddd;
}

.logo {
  font-size: 35px;
  font-weight: bold;
}

.logo span {
  color: #ff4d88;
}

nav a {
  text-decoration: none;
  margin-left: 30px;
  color: black;
  font-size: 20px;
}

nav a:hover {
  color: #ff4d88;
}

.products {
  padding: 50px;
}

.products h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}

.products span {
  color: #ff4d88;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 35px;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  transition: .4s;
  box-shadow: 0 8px 20px rgba(0,0,0,.1);
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}

.heart {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 10px #ccc;
}

.heart i {
  font-size: 22px;
  color: gray;
}

.heart.active i {
  color: red;
}

.card h3 {
  margin-top: 15px;
  font-size: 28px;
}

.card p{
    margin:10px;
    color:gray;
}
.bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
}
.bottom span{
    font-size:28px;
    color:#ff4d88;
    font-weight:bold;
}
button{
    padding:12px 25px;
    background:#ff4d88;
    border:none;
    color:white;
    border-radius:30px;
    cursor:pointer;
}
button:hover{
    background:#ff2a72;
}

/* Card section */

.cart-page{
    background:#fce9ef;
    padding:120px 8%;
    min-height:100vh;
}

.cart-title{
    text-align:center;
    color:#ff4f8b;
    font-size:55px;
    margin-bottom:50px;
}

.cart-container{
    max-width:1000px;
    margin:auto;
}

.cart-item{
    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px;

    margin-bottom:25px;

    border-radius:25px;

    box-shadow:
    0 5px 15px
    rgba(0,0,0,.1);
}

.cart-item img{

    width:160px;

    height:180px;

    object-fit:cover;

    border-radius:20px;

}

.info{

    flex:1;

    margin-left:40px;

}

.info h2{

    font-size:32px;

}

.info h3{

    color:#ff4f8b;

    margin-top:10px;

    font-size:30px;

}

.cart-item button{

    background:#ff4f8b;

    color:white;

    border:none;

    padding:15px 35px;

    border-radius:30px;

    cursor:pointer;

}

.cart-item button:hover{

    background:#ff2f75;

}

.total{

    background:white;

    margin-top:30px;

    padding:30px;

    border-radius:20px;

    text-align:right;

    font-size:35px;

    color:#ff4f8b;

}

.empty{

    text-align:center;

    font-size:25px;

    color:gray;

}

@media(max-width:768px){

.cart-item{
    flex-direction:column;
    text-align:center;
}
.info{margin:20px 0;}
}



.heading {
    text-align: center; 
    font-size: 40px;
    color: #d36a96;
    margin: 40px 0;
}

.cart-body {
    background: #f7c7d6;
    display: flex;
    justify-content: center;   
    align-items: flex-start;   
    padding: 60px 20px;
    min-height: 100vh;
    gap: 40px; 
}
.cart-box {
    
    flex: 0 0 500px; 
    max-width: 500px; 
    background: white;
    padding: 35px;
    border-radius: 35px;
    box-shadow: 0 10px 30px rgba(0,0,0,.15);
}


.right-image {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-image img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}



.cart-info{
    flex:1;
}


.cart-info h3{
    font-size:20px;
    margin-bottom:10px;
}
.cart-info p{
    color:#d36a96;
    font-size:22px;
    font-weight:bold;
}
.remove{
    width:40px;
    height:40px;
    border:none;
    border-radius:50%;
    background:#f08ab0;
    color:white;
    cursor:pointer;
    font-size:22px;
}
.cart-total{
    margin-top:30px;
    background:#e884a7;
    padding:25px;
    border-radius:25px;
    color:white;
}
.cart-total div{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
}
.line{
    border-bottom:
    1px solid white;
}
.checkout{
    width:100%;
    padding:15px;
    border:none;
    border-radius:20px;
    margin-top:20px;
    background:white;
    color:#d36a96;
    font-size:18px;
    cursor:pointer;

}
.empty{
    text-align:center;
    color:gray;
    padding:50px;
}

.footer{
    background:#222;
    color:white;
    padding:50px 10%;
    margin-top:80px;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    gap:40px;
    flex-wrap:wrap;
}

.footer-box{
    flex:1;
    min-width:250px;
}

.footer-box h2{
    color:#ff6b9d;
    margin-bottom:20px;
}

.footer-box p{
    line-height:1.8;
}

.footer-box a{
    display:block;
    color:white;
    text-decoration:none;
    margin:10px 0;
}

.footer-box a:hover{
    color:#ff6b9d;
}

.social-icons{
    display:flex;
    gap:15px;
}

.social-icons a{
    width:45px;
    height:45px;
    background:white;
    color:#ff6b9d;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    font-size:20px;
}

.social-icons a:hover{
    background:#ff6b9d;
    color:white;
}

.footer hr{
    margin:30px 0;
}

.copyright{
    text-align:center;
}

.checkout-page{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#fdeff4;
}

.checkout-page form{
    background:white;
    padding:80px;
    width:400px;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    gap:15px;

}

.checkout-page input,
.checkout-page select{
    padding:15px;
    border-radius:10px;
    border:1px solid #ddd;

}

.checkout-page button{
    background:#ff4d88;
    color:white;
    border:none;
    padding:15px;
    border-radius:10px;
}


* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body {
  background:#fdeff4;
}

header {
  background:white;
  padding:20px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.logo {
  font-size:35px;
  font-weight:bold;
  color:#ff4d88;
  text-decoration:none;
}

nav a {
  text-decoration:none;
  margin-left:25px;
  color:#333;
  font-size:18px;
}
nav a:hover {
  color:#ff4d88;
}

.title {
  text-align:center;
  padding:100px 20px;
  margin-top: 80px; 
}
.title h1 {
  font-size:55px;
  color:#ff4d88;
}
.title p {
  font-size:20px;
  color:gray;
}

.section {
  padding:40px 8%;
}
.section h2 {
    font-size: 40px;
    color: #ff4d88;
    margin-top: -30px;  
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px;
    margin-bottom: 60px;  

}
.card {
  background:white;
  padding:40px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 5px 15px rgba(0,0,0,.1);
  transition:.3s;
}
.card:hover {
  transform:translateY(-10px);
}
.card img {
  width:100%;
  height:320px;
  object-fit:cover;
  border-radius:15px;

}
.card h3 {
  margin-top:20px;
  margin-bottom: 15px;
  font-size:25px;
}
.card p {
  margin:15px 0;
  color:#ff4d88;
  font-size:22px;
}
.card button,
.shop-btn {
    margin-top: 20px;   
}

.shop-btn {
    display:inline-block;
    padding:12px 25px;
    background:#ff4d88;
    color:white;
    text-decoration:none;
    border-radius:30px;
    cursor:pointer;
    transition:.3s;
}
.shop-btn:hover {
    background:#ff2f75;
}

@media screen {
    
}

/* Success page section */

.success-page {
  background: #fdeff4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-box {
  background: white;
  padding: 60px;
  width: 650px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
